# Exclude virtual environment directories
/venv/
/.venv/

# Exclude IDE metadata
/.idea/

# Exclude Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Exclude training outputs
*.weights.h5
*.keras
**/tensorboard/

/lab1/data/